block style
	link(href="libs/bootstrap/dist/css/bootstrap.min.css", rel="stylesheet")

block head-js
	script(src="libs/jquery/dist/jquery.min.js")
	script(src="libs/bootstrap/dist/js/bootstrap.min.js")